:root {
  --background: #1F2229;
  --background2: #2E303C;
  --background-button: #373945;
  --background-button2: #4B4D59;
  --yellow: #FAE800;
  --gray: #BEC2C6;
  --white: #FBFBFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #FBFBFB;
  background: var(--background);
}

input, textarea {
  font-family: "Poppins";
}

button {
  cursor: pointer;
}

.principal {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}

@media(max-width:1024px) {
  nav.sidebar {
    padding-right: 5px!important;
    padding-left: 5px!important;
    flex-direction: row!important;
    max-width: 64rem!important;
    .buttons-container {
      flex-direction: row!important;
      flex-wrap: wrap!important;
    }
    button.selected, button {
      width: 172px!important;
      height: 48px!important;
      margin-top: 0px!important;
      padding-left: 10px!important;
      padding-right: 10px!important;
    }
    button {
      margin-bottom: 10px!important;
      margin-right: 10px!important;
      & + button {
        margin-top: 0;
      }
    }
    > span {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media(max-width:768px) {
  .container main .movies-list {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10px;
  }
  header span.category {
    margin-left: 10px;
  }
  .container .movie-card > div .movie-info {
    max-width:8.31rem;
  }
 
}

@media(max-width:647px) {
  div nav.sidebar {
    flex-direction: column !important;
  }
  nav.sidebar > span {
    margin-bottom: 0;
  }
  .container main {
    margin-top: 20px;
  }
}

@media(max-width: 425px) {
  div nav.sidebar {
    width: 464px !important;
  }
  .container main .movies-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .movie-card > div {
    right: 35px;
  }
  .container header span.category {
    font-size: 1.4rem;
}
}

@media(max-width:320px) {
  nav.sidebar button.selected, nav.sidebar button {
    width: 265px !important;
    margin-left: 20px;
}
nav.sidebar > span {
  margin-bottom: 23px;
}
}
