nav.sidebar {
  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: 24rem;
  width: 100%;

  padding: 2rem;

  background: var(--background2);

  > span {
    margin-bottom: 4.5rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--yellow);

    p {
      display: inline;
      color: var(--white);
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media(max-width:767) {
  nav.sidebar {
    padding-right: 5px!important;
    padding-left: 5px!important;
    width: 100%!important;
    flex-direction: row!important;
    max-width:46rem!important;
  }
  nav.sidebar .buttons-container {
    flex-direction: row!important;
  }
}